@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fontDefault: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontDefault);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: max-content;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Header Config */
header {
    width: 100%;
    height: 10vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .txtHeader {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
}

header .txtHeader img {
    width: 4%;
    margin: 0 2%;
    max-height: 100%;
}

header .txtHeader h1 {
    font-size: calc(0.8rem + 0.8vw);
    color: white;
}

header .imgHeader {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
    height: 100%;
}

header .imgHeader img {
    width: 12%;
    max-height: 100%;
    margin-right: 2%;
}

/* Config Main */

main {
    width: 100%;
    display: flex;
    padding: 3vh;
    justify-content: center;
    align-items: center;
}

/* Configuracao Box Image (lado esquerdo) */
.boxImage {
    width: 30%;
    height: 75vh;
}

.boxImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Configuracao boxBuy (lado Direito) */
.boxBuy {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 70%;
    height: 80vh;
    padding-left: 2vw;
}

.titleBuy {
    width: 50%;
    height: 25%;
    overflow: hidden;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid;
}

.titleBuy h2 {
    font-size: calc(0.7rem + 0.7vw);
    margin-bottom: 10px;
    padding: 0 20px;
}

.titleBuy p {
    font-size: calc(0.5rem + 0.5vw);
    padding: 0 20px;
}

.priceBuy {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding-left: 20px;
}

.priceBuy h4 {
    font-size: calc(0.7rem + 0.7vw);
    font-weight: 500;
}

.priceBuy h4 span {
    font-size: calc(0.7rem + 0.7vw);
    font-weight: 500;
    color: black;
}


.priceBuy span {
    font-size: calc((0.5rem + 0.5vw));
    color: #ADB5BD;
}

.pedidos{
    width: 25%;
    text-align: center;
}

.colorsBuy {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 1vh 0 1vh 20px;
    border-top: 1px solid #D8D8D8;
}

.colorsBuy h3 {
    font-size: calc(0.5rem + 0.6vw);
}

.boxCheck {
    width: 60%;
    display: flex;
    justify-content: space-around;

}

.colorsBuy .checkColorBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colorsBuy label {
    margin-top: 5px;
    font-size: calc(0.4rem + 0.4vw);
}

.sizeBuy label {
    margin-top: 5px;
    font-size: calc(0.4rem + 0.4vw);
}

.sizeBuy {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 1vh 0 1vh 20px;
    border-top: 1px solid #D8D8D8;
}

.sizeBuy h3 {
    font-size: calc(0.5rem + 0.6vw);
}

.sizeBuy .checkBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sizeBuy .checkBox label {
    margin-top: 5px;
}

.buttonBuyBox {
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    align-items: center;
}

.buttonBuyBox button {
    width: 70%;
    height: 80%;
    background-color: #9353FF;
    color: white;
    font-size: calc(0.5rem + 0.5vw);
    cursor: pointer;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3px;
    transition: 0.3s;
}

.buttonBuyBox button:hover {
    scale: 1.05;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width:930px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boxImage {
        width: 60%;
        padding: 0;
    }

    .boxBuy{
        height: 90vh;
    }

    .titleBuy {
        width: 80%;
    }

    .titleBuy h2 {
        font-size: calc(1rem + 1vw);
    }

    .titleBuy p {
        font-size: calc(0.6rem + 0.6vw);
    }


    .priceBuy {
        width: 80%;
    }

    .priceBuy h4{
        font-size: calc(0.9rem + 0.9vw);
    }

    .priceBuy h4 span{
        font-size: calc(0.9rem + 0.9vw);
    }

    .priceBuy span{
        font-size: calc(0.7rem + 0.7vw);
    }

    .colorsBuy {
        width: 80%;
    }

    .colorsBuy h3 {
        font-size: calc(0.7rem + 0.8vw);
    }
    
    .colorsBuy label {
        font-size: calc(0.6rem + 0.6vw);
    }

    .sizeBuy {
        width: 80%;
    }

    .sizeBuy h3 {
        font-size: calc(0.7rem + 0.8vw);
    }
    
    .sizeBuy label {
        font-size: calc(0.6rem + 0.6vw);
    }

    .buttonBuyBox {
        width: 80%;
    }

    .buttonBuyBox button{
        font-size: calc(0.7rem + 0.8vw);
    }

    header .txtHeader img {
        width: 8%;
    }

    header .imgHeader {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 30%;
        height: 100%;
    }

    header .imgHeader img {
        width: 25%;
        margin-right: 2%;
    }
}

@media screen and (max-width:720px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boxImage {
        width: 90%;
        padding: 0;
    }

    .boxBuy {
        width: 90%;
        height: 80vh;
        padding-left: 0
    }


    .titleBuy {
        width: 100%;
    }

    .priceBuy {
        width: 100%;
    }

    .colorsBuy {
        width: 100%;
    }

    .sizeBuy {
        width: 100%;
    }

    .buttonBuyBox {
        width: 100%;
    }
}

@media screen and (max-width:500px) {

    .boxImage {
        width: 100%;
        height: 50vh;
        padding: 0;
    }

    .boxBuy {
        width: 100%;
        height: 80vh;
        padding-left: 0
    }

    header .txtHeader img {
        width: 10%;
        margin-right: 20px;
    }

    header .imgHeader {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 30%;
        height: 100%;
    }

    header .imgHeader img {
        width: 50%;
        margin-right: 2%;
    }

}