.texto-menor {
    font-size: 13px;
    color: white;
}
.divs-facilidades {
    width: 325px;
}
.div-novidades {
    width: 325px;
}

.icons{
    color: #DAFF01;
}

i{
    color: #DAFF01;
}

.btn{
    background-color:#9353FF;
}


@media (min-width: 768px){
    .div-novidades {
        width: 696px;
    }
}